.productItem{
    border: 3px solid black;
    padding: 40px;
    position: relative;
    height: fit-content;
    #delete-checkbox{
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        transform: scale(1.5);
    }
    .productInfo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}