*{
  padding: 0;
  margin: 0;
}
body{
  font-size: 18px;
}
a, button, .link{
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}
.page{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main{
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  
}